/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.p {
  text-align: center;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
}

.btn {
  color: #585858;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.777);
  background: transparent;
  transition: all .15s ease-in-out;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}
.card_image {
  padding: 5rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.card_content {
  padding: 10px;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
}
.box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}
.box > a {
  /* display: inline-block; */
  flex-grow: 1;
}
.made_by {
  font-weight: 500;
  font-size: 18px;
  margin-top: 35px;
  text-align: center;
}
